version: 1.0.{build}
image: Ubuntu1804
environment:
  ORG_GRADLE_PROJECT_githubRepoUrl: https://api.github.com/repos/OratureCrashReports/orature-crash-reports/issues
  ORG_GRADLE_PROJECT_gradlewCommandLicenseProp:
    secure: DCPSvM8+CWTTPC0iIUMM5ovXkqheYzbb+p3bTeewZ2cJR3rQ2wGwo0bVwVcWM6MHskJ0Rw7A3d3YubVUnf1cdA==
  ORG_GRADLE_PROJECT_gradlewwinKeystorePassword: 
    secure: qgkiHS7cNKbfGFHihcFnFfEPuVgaT5QCQ5kvZkwy7l4fEyzKXaKwtX+gg88mR6rl
  ORG_GRADLE_PROJECT_githubOauthToken:
    secure: notarealtoken+changeme
  ORG_GRADLE_PROJECT_sentryDsn:
    secure: notarealdsn+changeme
  my_salt:
    secure: aud8gyOUO+GZK4sqM3NsKLgedEh9drnH6ww0acPVf6EHZTKLWk6/hfvrkQXH88HKSAJlbga0B1Vr72SSyiJD4Q==
  my_secret:
    secure: TWVx12XEQ0Pd+NfbrR92R5OnC6XkSrm/E++nECNRFIs=

install:
  - ps: iex ((New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/appveyor/secure-file/master/install.ps1'))
  - sh: ./appveyor-tools/secure-file -decrypt codesigningcert.p12.enc -secret $my_secret -salt $my_salt

build_script:
- sh: |
    export ORG_GRADLE_PROJECT_githubRepoUrl
    export ORG_GRADLE_PROJECT_gradlewCommandLicenseProp
    export ORG_GRADLE_PROJECT_gradlewwinKeystorePassword
    export ORG_GRADLE_PROJECT_githubOauthToken
    export ORG_GRADLE_PROJECT_sentryDsn
    export ORG_GRADLE_PROJECT_gradlewCommandVersionProp="$(cat VERSION).$APPVEYOR_BUILD_NUMBER"
    docker run -v $(pwd):/repo -v $(pwd)/codesigningcert.p12:/root/signing.p12 -e ORG_GRADLE_PROJECT_githubRepoUrl -e ORG_GRADLE_PROJECT_gradlewCommandLicenseProp -e ORG_GRADLE_PROJECT_gradlewwinKeystorePasswor -e ORG_GRADLE_PROJECT_githubOauthToken -e ORG_GRADLE_PROJECT_sentryDsn -e ORG_GRADLE_PROJECT_gradlewCommandVersionProp wycliffeassociates/install4j-docker gradle :jvm:workbookapp:install4jdeploy

