@import "root.css"

.scripture-takes-audioplayer {
    -fx-background-color: -white;
}

.scripture-takes-audioplayer--rounded {
    -fx-background-radius: 16px;
    -fx-border-radius: 16px;
    -fx-effect: -all-sides;
}

.scripture-takes-audioplayer__label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.scripture-takes-audioplayer__icon {
    -fx-icon-size: 26px;
}

.scripture-takes-audioplayer__play-btn {

}

.scripture-takes-audioplayer__play-btn--rounded {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 1px;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}

.scripture-takes-audioplayer__play-btn .ikonli-font-icon {
    -fx-icon-size: 18px;
}

.scripture-takes-audioplayer__play-btn--rounded .ikonli-font-icon {
    -fx-icon-size: 18px;
    -fx-fill: -primary;
}

.scripture-takes-audioplayer__source-container {
    -fx-background: white;
}

.scripture-takes-audioplayer__source-text {
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-text-alignment: justify;
}

.scripture-takes-audioplayer__controls {
    -fx-border-color: #ccc;
    -fx-border-width: 1 0 0 0;
    -fx-min-height: 100px;
}