@import "root.css"

.audioplayer--scripture-takes {
    -fx-background-color: -white;
    -fx-effect: -level2;
}

.audioplayer--scripture-takes__label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}

.audioplayer--scripture-takes__label__icon {
    -fx-icon-size: 26px;
}

.audioplayer--scripture-takes__play-btn {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-border-width: 1px;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
}

.audioplayer--scripture-takes__play-btn .ikonli-font-icon {
    -fx-icon-size: 18px;
    -fx-fill: -primary;
}

.audioplayer--scripture-takes__source-text {
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-text-alignment: justify;
}

.audioplayer--scripture-takes__controls {
    -fx-border-color: #ccc;
    -fx-border-width: 1 0 0 0;
    -fx-min-height: 100px;
}

.audioplayer--scripture-takes__source-box {
    -fx-alignment: center;
    -fx-background: white;
}