.breadcrumb-bar {
    -fx-padding: 15px 40px;
    -fx-spacing: 5px;
}

.breadcrumb {
    -fx-spacing: 5px;
    -fx-alignment: center;
}

.breadcrumb__content {
    -fx-border-color: #BFC5CC;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-padding: 5px 10px;
    -fx-cursor: hand;
    -fx-pref-height: 48px;
    -fx-text-fill: #001533;
    -fx-underline: true;
    -fx-font-size: 20px;
}

.breadcrumb__content:hover {
    -fx-background-color: #E6E9ED;
}

.breadcrumb__content:pressed {
    -fx-background-color: #D9DDE4;
}

.breadcrumb__content .ikonli-font-icon {
    -fx-icon-color: #001533;
    -fx-icon-size: 24px;
}

.breadcrumb--active, .breadcrumb--active:hover, .breadcrumb--active:pressed {
    -fx-border-width: 0px;
    -fx-background-color: #CDDDF4;
    -fx-background-radius: 6px;
    -fx-cursor: default;
    -fx-text-fill: #023E97;
    -fx-font-weight: bold;
    -fx-underline: false;
}

.breadcrumb--active .ikonli-font-icon {
    -fx-icon-color: #023E97;
}

.breadcrumb__separator .ikonli-font-icon {
    -fx-icon-color: #667385;
    -fx-icon-size: 10px;
}

.breadcrumb__help .ikonli-font-icon {
    -fx-icon-color: #3B5B8F;
    -fx-icon-size: 24px;
}

.breadcrumb__help .tooltip {
    -fx-font-size: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #001533EE;
    -fx-wrap-text: true;
}
