@import "root.css"

/* -------------- Todo List -------------- */
/* TODO: .btn class should have a `0.2s Ease-in-out` transition for all effects applied.

/* -------------- Button Base -------------- */
/* This controls all of the common variables found in each button type */
.btn {
    -fx-pref-height: 40px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-style: solid;
    -fx-font-size: 1em;
    -fx-cursor: hand;
}

/* -------------- Button Icon -------------- */
.btn__icon {
    -fx-icon-color: inherit;
    -fx-icon-size: 20px;
    -fx-space:10px;
}

/* -------------- Primary Button -------------- */
.btn--primary {
    -fx-background-color: -primary;
    -fx-effect: -level2;
    -fx-text-fill: -white;
    -fx-border-width: 0px;
    -fx-icon-color: -white;
}

.btn--primary:hover {
    -fx-background-color: -primary-dark;
    -fx-effect: -level1;
}

.btn--primary:disabled {
    -fx-background-color: -gray-lighter;
    -fx-text-fill: -gray-dark;
    -fx-icon-color: -gray-dark;
    -fx-effect: -level0;
    -fx-cursor: disappear;

}

/* -------------- Call to Action Button -------------- */
/*  This is the highest priority button and should always 
/*  highlight the most desireable action the user would take. 
/*  Only 1 CTA button should be used on a page. */
.btn--cta {
    -fx-background-color: -cta-gradient;
    -fx-effect: -level3;
    -fx-border-color: -white-30;
    -fx-border-width: 2px;  
    -fx-icon-color: -gray-darker;
    -fx-text-fill: -gray-darker;
}
.btn--cta:hover {
    -fx-background-color: -accent;
    -fx-effect: -level1;

}
.btn--cta:disabled {
    -fx-background-color: -gray-lighter;
    -fx-text-fill: -gray;
    -fx-icon-color: -gray;
    -fx-effect: -level0;
    -fx-cursor: disappear;
    -fx-opacity: 1;
}

/* -------------- Secondary Button -------------- */
.btn--secondary {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: -primary;
    -fx-text-fill: -primary;
    -fx-icon-color: -primary;
}
.btn--secondary:hover {
    -fx-background-color: -primary-light;
    -fx-text-fill: -primary-dark;
    -fx-icon-color: -primary-dark;
}
.btn--secondary:disabled {
    -fx-cursor: disappear;
    -fx-text-fill: -gray;
    -fx-icon-color: -gray;
    -fx-border-color: -gray-light;
    -fx-border-width: 2px;
}

/* -------------- Tertiary Button -------------- */
/* This button is very rarely used
/* Typically only found in misc dialogs or on very heavy screens */
.btn--tertiary {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-text-fill: -primary;
    -fx-icon-color: -primary;
}
.btn--tertiary:hover {
    -fx-background-color: -primary-light;
    -fx-text-fill: -primary-dark;
    -fx-icon-color: -primary-dark;
}
.btn--tertiary:disabled {
    -fx-cursor: disappear;
    -fx-text-fill: -gray;
    -fx-icon-color: -gray;
    -fx-border-width: 0px;
    -fx-background-color: transparent;
}

