.chapter-grid {
    -fx-padding: 4;
    -fx-background-color: -wa-foreground;
    -fx-faint-focus-color: transparent;
}

.chapter-grid__btn {
    -fx-pref-width: 100;
    -fx-padding: 0 12;
    -fx-background-radius: 12;
}

.chapter-grid__btn:selected {
    -fx-background-color: -wa-primary-light;
    -fx-border-width: 1px;
    -fx-border-color: -wa-primary;
}

.chapter-grid__icon-alignment-box {
    -fx-alignment: top-right;
    -fx-padding: 4 8;
}

.chapter-grid .complete-icon {
    -fx-font-size: 1.8em;
    -fx-icon-color: -wa-primary;
}

.chapter-selector-popup {
    -fx-padding: 12;
    -fx-background-radius: 8px;
    -fx-background-color: -wa-foreground;
    -fx-background-radius: 10;
}

.chapter-selector-popup__scroll-pane {
    -fx-max-height: 500;
}