@import "root.css"

.confirm-dialog__title-bar {
    -fx-alignment: center;
    -fx-padding: 0 30px 0 100px;
}

.confirm-dialog__title {
    -fx-text-fill: -white;
    -fx-font-size: 30px;
}

.confirm-dialog__body {
    -fx-padding: 20px 100px;
    -fx-text-alignment: justify;
    -fx-min-height: 100px;
}

.confirm-dialog__message {
    -fx-text-fill: -gray-darker;
    -fx-font-size: 18px;
    -fx-wrap-text: true;
}

.confirm-dialog__footer {
    -fx-padding: 20px 100px;
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: #ccc;
}

.btn--close {
    -fx-background-color: transparent;
    -fx-border-color: -white;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.btn--close .ikonli-font-icon {
    -fx-icon-size: 18px;
    -fx-fill: -white;
}

.btn--close:hover .ikonli-font-icon {
    -fx-icon-size: 18px;
    -fx-fill: -gray-darker;
}

.btn--cancel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.btn--cancel .ikonli-font-icon {
    -fx-icon-size: 22px;
    -fx-fill: -white;
}

.btn--confirm {
    -fx-font-size: 16px;
    -fx-text-fill: #d11919;
    -fx-border-width: 0;
    -fx-font-weight: bold;
}

.btn--confirm:hover {
    -fx-background-color: -purple-light;
    -fx-text-fill: #d11919;
}

.btn--confirm .ikonli-font-icon {
    -fx-icon-size: 22px;
    -fx-fill: #d11919;
}