.confirm-dialog {
    -fx-pref-width: 480px;
    -fx-background-color: -wa-white;
}

.confirm-dialog__header {
    -fx-pref-height: 240px;
}

.confirm-dialog__title-bar {
    -fx-alignment: center-left;
    -fx-padding: 0 15px;
}

.confirm-dialog__title {
    -fx-text-fill: -wa-white;
    -fx-font-size: 30px;
}

.confirm-dialog__body {
    -fx-padding: 15px;
    -fx-text-alignment: justify;
    -fx-min-height: 100px;
}

.confirm-dialog__message {
    -fx-text-fill: -wa-gray-darker;
    -fx-font-size: 18px;
    -fx-wrap-text: true;
}

.confirm-dialog__progress {
    -fx-alignment: center-left;
    -fx-padding: 20px;
    -fx-spacing: 6px;
}

.confirm-dialog__progress .progress-bar {
    -fx-pref-height: 8px;
}

.confirm-dialog__progress .progress-bar .bar {
    -fx-background-radius: 6px;
    -fx-background-color: -wa-primary;
}

.confirm-dialog__progress .progress-bar .track {
    -fx-background-color: -wa-black-05;
    -fx-background-radius: 6px;
    -fx-border-width: 1px;
    -fx-border-radius: 6px;
    -fx-border-color: -wa-black-40;
}

.confirm-dialog__progress-title {
    -fx-font-size: 16px;
    -fx-text-fill: -wa-black-60;
}

.confirm-dialog__footer {
    -fx-padding: 20px 15px;
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: #ccc;
}

.confirm-dialog__btn--close,
.confirm-dialog__btn--close:hover,
.confirm-dialog__btn--close:pressed {
    -fx-border-color: -wa-white;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.confirm-dialog__btn--close:hover {
    -fx-background-color: -wa-white-30;
}

.confirm-dialog__btn--close .ikonli-font-icon,
.confirm-dialog__btn--close:hover .ikonli-font-icon,
.confirm-dialog__btn--close:pressed .ikonli-font-icon {
    -fx-icon-size: 18px;
    -fx-fill: -wa-white;
}

.confirm-dialog__footer-spacer {
    -fx-max-width: 20px;
}
