.contributor__container {
    -fx-padding: 30px;
    -fx-spacing: 20px;
}

.contributor__section-title {
    -fx-font-weight: bold;
    -fx-font-size: 1.25em;
    -fx-text-fill: -wa-regular-text;
}

.contributor__section-text {
    -fx-fill: -wa-regular-text;
    -fx-font-size: 1.1em;
}

.contributor__license-link,
.contributor__license-link:visited {
    -fx-text-fill: -wa-highlight-text;
}

.contributor__input-group {
    -fx-align: center-left;
    -fx-spacing: 10px;
}

.contributor__text-input {
    -fx-font-size: 1.15em;
    -fx-pref-height: 38px;
    -fx-border-width: 1px;
}

.contributor__list {
    -fx-padding: 8px 0;
}

.contributor__list .list-cell {
    -fx-padding: 2px 0;
}

.contributor__list-cell {
    -fx-background-color: -wa-foreground;
    -fx-background-radius: 5px;
    -fx-padding: 8px 20px;
    -fx-pref-height: 55px;
    -fx-alignment: center-left;
}

.contributor__list-cell:hover .contributor__list-cell__title {
    -fx-underline: true;
    -fx-cursor: hand;
}

.contributor__list-cell__title.label {
    -fx-font-size: 1.15em;
    -fx-text-fill: -wa-regular-text;
}

.contributor__list-cell__editor {
    -fx-padding: 0 0 0 -11px;
    -fx-spacing: 5px;
}

.contributor__list-cell__editor .btn--icon {
    -fx-border-width: 1px;
}

.contributor__list-cell__save-btn .ikonli-font-icon {
    -fx-icon-color: -wa-status-active;
}

.contributor__list-cell__discard-btn .ikonli-font-icon {
    -fx-icon-color: -wa-regular-text;
}

.contributor__add-btn {
    -fx-padding: 10 60 10 60px;
    -alignment: center;
}