/* Dialog style */
.dialog-pane {
    -fx-background-color: transparent;
}

.dialog-pane > .button-bar > .container {
    -fx-padding: 0;
}

.dialog-pane > .content {
    -fx-padding: 0;
}

/* Exception dialog style */
.dialog--exception {
    -fx-padding: 15 5;
    -fx-background-color: -wa-white;
    -fx-background-insets: 15 5;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}

.dialog--exception__send-report {
    -fx-cursor: hand;
    -jfx-checked-color: -wa-primary;
}

.dialog--exception__stacktrace-container {
    -fx-background-color: -wa-primary-light;
    -fx-background-radius: 10px;
}

.dialog--exception__stacktrace-container__sub {
    -fx-background-color: -wa-primary-light;
}

/* Scrollbar style */
.dialog--exception__stacktrace-container .scroll-bar {
    -fx-background-color: transparent;
}

.dialog--exception__stacktrace-container .scroll-bar .track {
    -fx-background-color: transparent;
	-fx-border-color: transparent;
}

.dialog--exception__stacktrace-container .scroll-bar .increment-button,
.dialog--exception__stacktrace-container .scroll-bar .decrement-button {
    -fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-padding: 0;
}

.dialog--exception__stacktrace-container .scroll-bar .increment-arrow,
.dialog--exception__stacktrace-container .scroll-bar .decrement-arrow {
	-fx-background-color: transparent;
	-fx-padding: 0 5;
}

.dialog--exception__stacktrace-container .scroll-bar .thumb {
    -fx-background-color: -wa-gray;
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 10px;
}
