.import-conflict-dialog {
    -fx-pref-width: 720px;
    -fx-pref-height: 420px;
    -fx-background-color: -wa-dialog-background;
}

.import-conflict-dialog__header {
    -fx-pref-height: 72px;
    -fx-alignment: center-left;
    -fx-padding: 12 16;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-color: #ccc;
}

.import-conflict-dialog__body {
    -fx-spacing: 16;
}

.import-conflict-dialog .label {
    -fx-wrap-text: true;
}