@import "root.css"

.source-dialog {
    -fx-background-color: white;
}

.source-dialog__label {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 20px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-fill-width: true;
}

.source-dialog__text {
    -fx-font-size: 16px;
    -fx-alignment: center;
    -fx-text-alignment: justify;
}

.source-dialog__close-button {
    -fx-min-height: 40px;
    -fx-min-width: 185px;
    -fx-background-color: -white;
    -fx-border-color: -primary;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.source-dialog__close-button * {
    -fx-fill: -primary;
}
