@import "root.css"

.toggle--source_audio {
    -fx-border-color: -primary;
    -fx-border-radius: 3;
    -fx-cursor: hand;
}

.toggle--source_audio__box {
    -fx-padding: 8;
}

.toggle--source_audio__box--active {
    -fx-background-color: -primary;
}

.toggle--source_audio__box__icon {
    -fx-fill: -primary;
}

.toggle--source_audio__box__icon--active {
    -fx-fill: white;
}