.translation-card__root {
    -fx-max-width: 800px;
    -fx-spacing: 10px;
    -fx-background-color: -wa-white;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(gaussian, -wa-black-20, 10, 0, 3, 3);
}

.translation-card__header {
    -fx-spacing: 15px;
    -fx-padding: 15px;
    -fx-alignment: center-left;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -wa-black-20;
}

.translation-card__language {
    -fx-font-size: 20px;
}

.translation-card__language .ikonli-font-icon {
    -fx-font-size: 24px;
}

.translation-card__divider .ikonli-font-icon {
    -fx-font-size: 20px;
}

.translation-card__book--no-bg:hover,
.translation-card__book--no-bg:pressed {
    -fx-background-color: -wa-white !important;
}

.translation-card__see-more-content {
    -fx-alignment: center;
    -fx-padding: 20px;
}
