.app-bar {
    -fx-padding: 20px 4px 4px 4px;
    -fx-background-color: -wa-primary-dark  ;
    -fx-alignment: top-center;
    -fx-spacing: 4px;
}

.app-bar__logo .ikonli-font-icon {
    -fx-icon-color: -wa-white;
    -fx-icon-size: 40px;
}
