.app-drawer__content {
    -fx-pref-width: 400px;
    -fx-background-color: -wa-white;
    -fx-effect: -wa-level5;
}

.app-drawer-container {
    -fx-spacing: 20px;
}

.app-drawer__scroll-pane {
    -fx-padding: 40px;
    -fx-background-color: -wa-white;
}

.app-drawer__scroll-pane > .viewport {
    -fx-background-color: -wa-white;
}

.app-drawer__title {
    -fx-font-size: 36px;
}

.app-drawer__btn--close {
    -fx-background-color: -wa-white;
    -fx-border-color: -wa-gray;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-pref-width: 48px;
    -fx-pref-height: 48px;
}

.app-drawer__btn--close:hover {
    -fx-background-color: -wa-gray-lighter;
}

.app-drawer__btn--close .ikonli-font-icon {
    -fx-icon-size: 24px;
    -fx-fill: -wa-gray;
}

.app-drawer__btn--close:hover .ikonli-font-icon {
    -fx-fill: -wa-gray-dark;
}

.app-drawer__subtitle {
    -fx-font-weight: bold;
    -fx-font-size: 26px;
}

.app-drawer__subtitle--small {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.app-drawer__section {
    -fx-spacing: 10px;
}

.app-drawer__section--filled {
    -fx-background-color: -wa-black-05;
    -fx-background-radius: 6px;
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

.app-drawer__text {
    -fx-font-size: 20px;
    -fx-wrap-text: true;
}

.app-drawer__text--link {
    -fx-font-size: 20px;
    -fx-text-fill: -wa-primary;
    -fx-underline: true;
    -fx-cursor: hand;
}

.app-drawer__text--link .ikonli-font-icon {
    -fx-fill: -wa-primary;
    -fx-font-size: 20px;
}
