.chunking-step {
    -fx-border-width: 1;
    -fx-border-color: transparent transparent -wa-border-light transparent;
}

.chunking-step:focused .chunking-step__header-section {
    -fx-border-width: 2;
    -fx-border-color: -wa-button-border;
}

.chunking-step:selected .chunking-step__title {
    -fx-text-fill: -wa-primary;
}

.chunking-step__header-section {
    -fx-alignment: center;
    -fx-padding: 16;
}

.chunking-step__header-section .chunking-step__title {
    -fx-graphic-text-gap: 0.6em;
}

.chunk-step__header-section__menu-btn .icon {
    -fx-icon-color: -wa-regular-text-80;
    -fx-font-size: 1.8em;
}

.chunk-step__header-section__menu-btn .success-icon {
    -fx-icon-color: #82A93F;
}