.chunking-step-drawer {
    -fx-pref-width: 360;
}

.chunking-step-drawer:collapsed {
    -fx-max-width: 80;
}

.chunking-step:focused .chunking-step__header-section {
    -fx-border-width: 2;
    -fx-border-color: -wa-button-border;
}

.chunking-step.completed .chunking-step__title {
    -fx-text-fill: -wa-status-complete;
}

.chunking-step.completed .chunking-step__title .complete-icon {
    -fx-font-size: 1.8em;
    -fx-icon-color: -wa-status-complete;
}

.chunking-step .chunking-step__title .icon {
    -fx-font-size: 1.8em;
    -fx-icon-color: -wa-regular-text-80;
}

.chunking-step:selected .chunking-step__title .icon {
    -fx-icon-color: -wa-primary;
}

.chunking-step:selected .chunking-step__title {
    -fx-text-fill: -wa-primary;
}

.chunking-step__header-section,
.source-text-drawer__header-section {
    -fx-alignment: center;
    -fx-padding: 16;
    -fx-border-width: 1;
    -fx-border-color: transparent transparent -wa-border-light transparent;
}

.chunking-step__header-section .chunking-step__title {
    -fx-graphic-text-gap: 0.6em;
}

.chunk-step__header-section__menu-btn .complete-icon {
    -fx-icon-color: -wa-status-complete;
    -fx-font-size: 1.8em;
}

.chunking-step__content-section {
    -fx-alignment: center;
}

.source-text-drawer {
    -fx-pref-width: 360;
}

.drawer-graphic-container {
    -fx-alignment: center;
    -fx-spacing: 5;
}