.audio-missing-view {
    -fx-alignment: center;
    -fx-padding: 50;
    -fx-spacing: 16;
    -fx-max-width: 850;
}

.drag-drop-area {
    -fx-min-height: 160px;
    -fx-alignment: center;
    -fx-border-width: 2px;
    -fx-border-radius: 40px;
    -fx-border-color: -wa-border-light;
    -fx-border-style: segments(20, 10);
    -fx-background-radius: 40px;
    -fx-padding: 25px;
    -fx-spacing: 10px;
}

.separator-area {
    -fx-padding: 40 0;
    -fx-alignment: center;
}