.take-item {
    -fx-alignment: center;
    -fx-spacing: 10px;
    -fx-border-width: 1px;
    -fx-border-color: rgba(243,243,243,0.5);
    -fx-border-radius: 5px;
    -fx-background-color: white;
}

.selected {

    -fx-effect: dropshadow(gaussian, -wa-black-30, 10, 0, 3, 3);
}