.workbook-page__chapter-list {
    -fx-padding: 20px 0 0 30px;
    -fx-background-color: #f7faff;
}

.workbook-page__chapter-list .list-cell:selected,
.workbook-page__chapter-list .list-cell:even,
.workbook-page__chapter-list .list-cell:odd {
    -fx-background-color: #f7faff;
}

.workbook-page__chapter-list .label {
    -fx-text-fill: -wa-gray-darker;
}
